
.submit-btn {
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
}

.submit-btn:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.disable-btn {
    background-color: #263238;
    color: #000;
}

@media screen and (min-width: 960px) and (max-width: 1400px) {
    .newsletter-section.mx-44 {
        @apply mx-20
    }
}

@media screen and (min-width:450px) and (max-width: 960px) {
    .newsletter-section.mx-44 {
        @apply mx-12
    }
}
